<h3>Group</h3>
<br>
<div>
  
  <button ng-click="iterate_board(board)" class="kataFont">Iterate</button>
  <button ng-click="create_new_board_random(10,15)" class="kataFont">Create new Random board</button>
  
  <br><a href="#/" class="kataFont">Home</a>
</div>
<div>
  Generation: {{generation_counter}}
</div>
<div>
  Alive: {{alive_counter}}
</div>
<div class="container">
<div ng-repeat="(index_col, col) in board" class="columns">
  <div ng-repeat="(index_row,row) in col track by $index" class="whiteCell" ng-class="{liveCell: row ===1}" ng-click="change_cell_value(index_col,index_row)"> 
  </div>
</div>
</div>